<div class="club-overview">
    <h2 class="text-xl font-semibold mb-4">Clubs Overview</h2>
    <div class="sports-cards-grid grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mb-8">
        <div class="sports-card flex flex-col justify-between rounded-2xl p-6 text-white relative bg-football">
            <div class="flex items-center justify-between mb-2">
                <mat-icon class="text-4xl">sports_soccer</mat-icon>
            </div>
            <div class="flex-1 flex flex-col justify-end">
                <div class="flex items-center justify-between mb-2">
                    <div class="font-semibold text-base">Football Clubs</div>
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="text-3xl font-bold">{{footballClubsValue}}</div>
            </div>
        </div>
        <div class="sports-card flex flex-col justify-between rounded-2xl p-6 text-white relative bg-icehockey">
            <div class="flex items-center justify-between mb-2">
                <mat-icon class="text-4xl">sports_hockey</mat-icon>
            </div>
            <div class="flex-1 flex flex-col justify-end">
                <div class="flex items-center justify-between mb-2">
                    <div class="font-semibold text-base">Ice hockey Clubs</div>
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="text-3xl font-bold">{{iceHockeyClubsValue}}</div>
            </div>
        </div>
        <div class="sports-card flex flex-col justify-between rounded-2xl p-6 text-white relative bg-basketball">
            <div class="flex items-center justify-between mb-2">
                <mat-icon class="text-4xl">sports_basketball</mat-icon>
            </div>
            <div class="flex-1 flex flex-col justify-end">
                <div class="flex items-center justify-between mb-2">
                    <div class="font-semibold text-base">Basketball Clubs</div>
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="text-3xl font-bold">{{basketballClubsValue}}</div>
            </div>
        </div>
        <div class="sports-card flex flex-col justify-between rounded-2xl p-6 text-white relative bg-rugby">
            <div class="flex items-center justify-between mb-2">
                <mat-icon class="text-4xl">sports_rugby</mat-icon>
            </div>
            <div class="flex-1 flex flex-col justify-end">
                <div class="flex items-center justify-between mb-2">
                    <div class="font-semibold text-base">Rugby Clubs</div>
                    <mat-icon>more_vert</mat-icon>
                </div>
                <div class="text-3xl font-bold">{{rugbyClubsValue}}</div>
            </div>
        </div>
    </div>
    <app-clubs [clubs]="clubs"></app-clubs>
</div>