.sidebar {
  @apply bg-neutral-900 text-white h-full flex flex-col transition-all duration-300 ease-in-out;
  width: 250px;
  
  @media (max-width: 1024px) {
    width: 100%;
    max-width: 250px;
  }
  
  &.sidebar-closed {
    width: 70px;
    
    @media (max-width: 1024px) {
      width: 0;
    }
    
    .logo-container {
      justify-content: center;
      
      h1 {
        font-size: 1rem;
      }
    }
    
    .nav-item {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      
      mat-icon {
        margin-right: 0;
      }
    }
  }
  
  .sidebar-content {
    @apply overflow-y-auto;
  }
  
  .nav-item {
    @apply rounded-md;
    font-size: 1.08rem;
    &.active {
      @apply bg-neutral-800 text-white font-semibold;
      mat-icon {
        @apply text-white;
      }
    }
  }

  .submenu {
    @apply ml-2;
    li.nav-item {
      font-size: 1rem;
      @apply px-4 py-2 rounded-md;
      &.active {
        @apply bg-neutral-700 text-white font-semibold;
      }
    }
  }

  .sidebar-divider {
    @apply border-t border-neutral-700 my-2;
  }

  .sidebar-footer {
    .logout-btn {
      @apply text-neutral-400 hover:text-white transition;
      padding: 6px;
      border-radius: 50%;
    }
  }
}